<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brewery.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @brewery.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @brewery.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @brewery.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @brewery.lng %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
