<p id="notice"><%= notice %></p>


<div class="row">
  <div id="itemdetail">
    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
      <div class="thumbnail">
        <img src="/assets/<%= @item.image_path %>" class="item-image">
        <div class="caption">
          <h3><%= @item.name %></h3>
          <p><%= @item.description %></p>
          <p><strong>Price $ <%= @item.price %></strong><a href="#" class="btn btn-success" class="buttonbuy" role="button">Buy</a></p>
        </div>
      </div>
    </div>
  </div>


</div>


