<p id="notice"><%= notice %></p>

<div class="row">

  <% @items.each do |item| %>
    <!-- <p><%= item.name %> for the price <%= item.price %>
     and it's image path is <%= item.image_path %><img src="/assets/<%= item.image_path %>" class="item-image"></p> -->

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/assets/<%= item.image_path %>" class="item-image">
        <div class="caption">
          <h3><%= item.name %></h3>
          <p><%= item.description %></p>
          <p><a href="<%= url_for item %>" class="btn btn-default" role="button">Details</a>
        </div>
      </div>
    </div>
  <% end %>

</div>








