<p id="notice"><%= notice %></p>

  <% @items.each do |item| %>
    <p><%= item.name %> for the price <%= item.price %>
     and it's image path is <%= item.image_path %><img src="/assets/<%= item.image_path %>" class="item-image"></p>
  <% end %>









<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
