<!DOCTYPE html>
<html>
<head>
  <title>Beertopia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href='/'>THE BEERTOPIA PROJECT</a>
    <button class="navbar-toggle" data-toggle="collapse" data-target="navHeaderCollapse">
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
  </div>

    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div>
  <div>
    <ul class="breadcrumb">
      <li><a href="#">Home</a><span class="divider"></span></li>
      <li><a href="#">About</a><span class="divider"></span></li>
      <li><a href="#">Beerfinder</a><span class="divider"></span></li>
      <li><a href="#">Shop</a><span class="divider"></span></li>
      <li class="active">Data</li>
    </ul>
  </div>
</div>

<%= yield %>

<%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry' %>
<%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' %>

</body>
</html>
