<!DOCTYPE html>
<html>
<head>
  <title>Beertopia</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/beer-20141217-favicon.ico" >
  <link rel="stylesheet" href="animate.min.css">
</head>
<body>

<div class="navbar navbar-inverse navbar-static-top">
  <a class="navbar-brand animated fadeInDownBig" href='/'>THE BEERTOPIA PROJECT</a>
  <div class="container">
    <ul class='navbar-content animated fadeIn'>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/homebrew">Homebrew</a></li>
      <li><a href="/breweries">Beerfinder</a></li>
      <li><a href="/top10">Top 10</a></li>
      <li><a href="/categories">Shop</a></li>
    </ul>
  </div>
</div>





<%= yield %>

<%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry' %>
<%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' %>

</body>
</html>
